@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,700&display=swap');

:root{
  --swiper-navigation-color: #DEAC40;
  --swiper-pagination-color: #DEAC40;
  --swiper-pagination-bullet-inactive-color: #DEAC40;
  --swiper-pagination-bullet-inactive-opacity: .5;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #161516;
}

body::-webkit-scrollbar{
  width: 9px;
  height: 5px;
}

body::-webkit-scrollbar-track{
  background:#161516;
}

body::-webkit-scrollbar-thumb{
  background: #DEAC40;
  border-radius: 1rem;
}

body::-webkit-scrollbar-thumb:hover{
  background:#161516;
}

body{
  scrollbar-track-color: #161516;  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
